<% provide(:title, "Sign in") %>
<div class = "row">
<div class = "large-12 columns">
<h1> Welcome to Homework Tracker!</h1>
<%if signed_in? != false%>
<%end%>
<p id="notice"><%= notice %></p>

</div>
</div>

<%if signed_in? == false%>

<div class = "row">
  <div class = "large-6 columns">


    <%= form_for(:session, url: sessions_path) do |f| %>

    <%=f.label :name %>
    <%=f.text_field :name %>

    <%=f.label :password %>
    <%=f.password_field :password %>

    <%= f.submit "Ok!", class:"button [large]" %>
    <%end%>


   Psst! Do you need to  <%= link_to "Sign Up?", new_user_path %>
<%end%>
</div>
</div>
<div class = "row">
  <div class = "large-12 columns">
<%if signed_in? == true%>

<h2>Hey <%=@current_user.name %>.</h2>
You are logged in.

</div>
</div>

<div class = "row">
  <div class = "large-12 columns">



<%end%>

</div>
</div>
