<%provide(:title, 'Assignments') %>

<h2>Welcome <%= @current_user.name %>!</h2>

<h1>Create an assignment!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Assigned</th>
      <th>Due date</th>
      <th>Completed</th>
      <th>Homework URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>

    <% @assignments.order(due_date: :asc).each do |assignment| %>
      <tr>
        <td><%= assignment.user.name %></td>
        <td><%= assignment.title %></td>
        <td><%= markdown(assignment.description) %></td>
        <td><%= assignment.assigned %></td>

        <% if assignment.due_date <= DateTime.now && assignment.completed == false %>
        <% a = true %>
        <% else %>
        <% a = false %>
        <% end %>

        <% if a == true %>
        <td id= "late"><%= assignment.due_date %></td>
      <%else%>
        <td><%= assignment.due_date %></td>
        <td><%= assignment.complete.assignment_completed %></td>

        <%end%>



        <td><%= link_to 'Show', assignment %></td>
        <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
        <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Assignment  |  ', new_assignment_path %>

<%= link_to "Users  |  ", users_path %>
<%= link_to "Back Home", root_path %>
