<h1>Please Login</h1>

<%= form_tag(assignments_path, method: :get) do %>
    <%= label_tag :user_id, "User" %>
    <%= select_tag :user_id,
        options_for_select(@users.map { |user| [user.name, user.id] }) %>
    <%= submit_tag "Login", :class => :button %>
<% end %>


<%= link_to "Create a new User", new_user_path %>
