<!DOCTYPE html>
<html>
<head>
  <title>HomeworkTracker</title>

  <% if flash[:error] %>
  <div class="alert-box info radius"><%=flash[:error] %></div>
<% end %>

<ul class = "button-group">
  <li><%=link_to "Students", users_path, class: "button success "%></li>
  <li><%=link_to "All Assignments", assignments_path, class: "button success"%></li>
  <li><%=link_to "Back Home", root_path, class: "button success "%></li>

  <%if signed_in? == true %>
  <li><%=link_to "Your Assignments", user_path(current_user), class: "button success"%></li>
  <li><%= link_to 'Sign Out!', signout_path,  method: 'delete', class: "button alert"%></li>


<%end%>

</ul>




  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
